<div class="content">
  <section class="sales_pitch">
    <div class="sales_pitch__text">
      <h1 class="sales_pitch__header">
        trunc8r makes your links shorter than you ever thought possible.
      </h1>

      <p class="sales_pitch__body">
        You do want your links shorter right? If you don't, then why are you here?
        We don't really do anything else. Seriously. That's it. That's all we do.
      <p>
    </div>
    <%= image_tag("people", alt: "trunc8r axe logo", class: "sales_pitch__image", width: 100)%>
  </section>

  <div id="react-app" class="react-app"></div>
  <%= javascript_pack_tag 'index' %>
</div>