html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(135deg, #0079bf, #5067c5);
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.content {
  flex: 0 1 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}

.header {
  flex: 0 1 auto;
  align-self: start;
  display: flex;
  &__image {
    height: 120px;
    flex: 1 1 auto;
  }
}

.sales_pitch {
  flex: 1 1 auto;
  margin-top: 64px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__text {
    flex: 1 1 100px;
    min-width: 200px;
  }

  &__image {
    flex: 1 1 100px;
    min-width: 200px;
  }

  &__header {
    font-size: 250%;
    margin-bottom: 8px;
  }

  &__body {
    margin-top: 0;
    font-size: 140%;
    line-height: 1.4;
  }

  @media (max-width: 480px) {
    margin-top: 32px;
  }
}

.react-app {
  flex: 1 1 100px;
}

.link_shortener {
  flex: 1 1 100px;
  display: flex;
  flex-direction: column;

  &__response {
    font-size: 150%;
    display: flex;
    align-items: center;
  }

  &__response--error {
    color: #fb5d64;
  }

  &__prompt {
    color: rgba(255, 255, 255, 0.8);
  }

  &__short_url {
    font-size: 120%;
    margin: 0 8px;
  }

  &__copy_button {
    font-size: 75%;
    font-weight: 600;
    border: none;
    padding: 4px 6px;
    // margin: 0;
    // font-size: 150%;
    background-color: #d7e0ff;
    color: #1b3c87;
    border-radius: 4px;
    cursor: pointer;
  }

  &__copy_button:focus,
  &__copy_button:active {
    outline: none;
    box-shadow: none;
  }

  &__form {
    flex: 1 1 100%;
    display: flex;
  }

  &__input {
    flex: 5 1 100px;
    font-size: 180%;
    border: 0;
    padding-left: 12px;
    border-radius: 4px;
    // margin-right: 12px;
    color: rgba(0, 0, 0, 0.7);
    min-height: 60px;
    margin-right: 12px;
  }

  &__input::placeholder {
    color: rgba(0, 0, 0, 0.25);
  }

  &__button {
    flex: 1 1 20px;
    border: none;
    padding: 12px;
    margin: 0;
    font-size: 150%;
    background-color: #46dbc9;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }

  &__button:focus,
  &__button:active,
  &__input:focus,
  &__input:active {
    outline: none;
    box-shadow: none;
  }

  @media (max-width: 480px) {
    flex-direction: column-reverse;

    &__form {
      flex-wrap: wrap;
    }

    &__input {
      margin-right: 0;
      margin-bottom: 16px;
      max-width: 90vw;
    }

    &__button {
      max-width: 90vw;
      margin-bottom: 32px;
    }

    &__response {
      // flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
    }

    &__short_url {
      margin: 2px 0 10px 0;
    }
  }
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: -48px;
}
